#intro {
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: center;

  .icon {
    width: 32px;
    height: 32px;
  }

  .container-imagem-avatar {
    position: relative;
    width: 112px;
    height: 112px;
    margin-block: 120px 56px;
  }

  .avatar {
    width: 96px;
    border-radius: 50%;
    object-fit: cover;
    outline: 3px solid var(--red);
    outline-offset: 3px;
  }

  #icone-code {
    background-image: url(../assets/icons/Code.svg);
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 9px;
    right: 9px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sobre {
    width: 680px;
    justify-items: center;

    h1 {
      margin-block: 8px 20px;
    }

    p:last-of-type {
      text-align: center;
    }
  }

  .tags {
    margin-block: 80px 94px;

    div {
      background-color: var(--gray-400);
      border-radius: 999px;
      height: 40px;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;

      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}