/* Tipografia */
.title-lg {
  font: var(--title-lg);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.subtitle {
  font: var(--subtitle);
}

.text-md {
  font: var(--text-md);
}

.text-sm {
  font: var(--text-sm);
}

/* cores */
.color-red {
  color: var(--red);
}

.color-purple {
  color: var(--purple);
}

.color-blue {
  color: var(--blue);
}

.color-green {
  color: var(--green);
}

.color-yellow {
  color: var(--yellow);
}

.color-gray-100 {
  color: var(--gray-100);
}

.color-gray-200 {
  color: var(--gray-200);
}

.color-gray-300 {
  color: var(--gray-300);
}

.color-gray-400 {
  color: var(--gray-400);
}

.color-gray-500 {
  color: var(--gray-500);
}

.color-gray-600 {
  color: var(--gray-600);
}
/* layout */
.grid {
  display: grid;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* .grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
} */

.gap-16 {
  gap: 16px;
}

/* icons */

.icon-caret-double-down {
  mask: url(../assets/icons/CaretDoubleDown.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--gray-300);
}
.icon-html {
  mask: url(../assets/icons/HTML.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--red);
}

.icon-github {
  mask: url(../assets/icons/GitHub.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--gray-200);
}

.icon-css {
  mask: url(../assets/icons/CSS.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--blue);
}

.icon-javascript {
  mask: url(../assets/icons/JavaScript.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--yellow);
}

.icon-react {
  mask: url(../assets/icons/React.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--blue);
}

.icon-node {
  mask: url(../assets/icons/Node.js.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--green);
}

.icon-devices {
  mask: url(../assets/icons/Devices.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--purple);
}

.icon-hard-drives {
  mask: url(../assets/icons/HardDrives.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--yellow);
}

.icon-infinity {
  mask: url(../assets/icons/Infinity.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--green);
}

.icon-arrow-up-right {
  mask: url(../assets/icons/ArrowUpRight.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--blue);
}

.icon-linkedin {
  mask: url(../assets/icons/LinkedinLogo.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--gray-300);
}

.icon-instagram {
  mask: url(../assets/icons/InstagramLogo.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--gray-300);
}

.icon-github-logo {
  mask: url(../assets/icons/GithubLogo.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--gray-300);
}

.icon-envelope-simple {
  mask: url(../assets/icons/EnvelopeSimple.svg) no-repeat center;
  mask-size: contain;
  background-color: var(--gray-300);
}
